<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>


	<form method="post" action="/api/polls/<%= id %>" class="poll-container card-panel">
		<h1><%= title %></h1>
		<% for (var i = 0; i < options.length; i++) { %>
			<div>
				<% if (multi) { %>
					<input name="vote" type="checkbox" class="filled-in" id="<%= options[i] %>" value="<%= i %>" />
				<% } else { %>
					<input name="vote" type="radio" id="<%= options[i] %>" value="<%= i %>" required />
				<% } %>
	      		<label for="<%= options[i] %>"><%= options[i] %></label>
			</div>
		<% } %>
		<input type="submit" class="btn submit-btn" value="Vote"/>
	</form>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>