<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>

	<link rel="stylesheet" href="/styles.css"/>

    <script type="text/javascript" src="/scripts.js" async defer></script>
</head>
<body class="blue-grey lighten-5">
	<header class="blue-grey"></header>
	<div class="poll-container card-panel">
		<h4><%= title %></h4>

		<ul class="collection mt2">
			<% for (var i = 0; i < options.length; i++) { %>
				<li class="collection-item">
					<div>
						<span><%= options[i] %>: </span>
						<span class="right"><%= votes[i] %></span>
					</div>
					<div class="results-percent">
						<div class="percentage-bar blue-grey darken-3" style="transform: translateX(-<%= 100 - Math.round(votes[i] / totalVotes * 100, 2) || 100 %>%);"></div>
						<span class="right"><%= Math.round(votes[i] / totalVotes * 100, 2) || 0 %>%</span>
					</div>
				</li>
			<% } %>
		</ul>
		<div>
			<span><h5 class="subtitle">Total Votes: </h5></span> <%= totalVotes %>
		</div>

		<a href="/<%= id %>" class="btn">Back To Votes</a>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>